{% extends 'admin-base.html' %}
{% load static %}
{% block content %}
<main id="main" class="main">
    <div id="success"></div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <ul class="breadcrumb mt-3">
                            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
                            <li class="breadcrumb-item">Category</li>
                            <li class="breadcrumb-item active">View User</li>
                        </ul>
                    </div>
                    <div class="col offset-5">
                        <div class="row">
                            <div class="col" id="sendmailtoalldiv">
                                <button type="submit" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Send Mail To All
                                </button>
                            </div>
                            <div class="col" id="loadingsendmailtoalldivdiv" style="display: none;">
                                <button class="btn btn-primary mt-2 mb-2" type="submit" disabled>
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                    <span role="status">Mail Sending To All...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form method="POST" enctype="multipart/form-data" id="send_mail_to_all" action="{% url 'send_mail_to_all' %}">
                                {% csrf_token %}
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Send Mail To All</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <label for="category_id" class="form-label">Write Message :- </label>
                                            <input type="text" class="form-control" id="email_msg" name="email_msg">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Send Mail</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive mt-2">                  
                                    <table class="table table-hover table-center mb-0" id="table">
                                        <thead class="bg-light">
                                            <tr>
                                                <th>No</th>
                                                <th>User Name</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Profile Pic</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider" id="main_div">
                                            {% for i in users %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.username}}</td>
                                                <td>{{i.first_name}}</td>
                                                <td>{{i.last_name}}</td>
                                                <td>{{i.email}}</td>
                                                <td><img src="/{{i.profile_pic}}" alt="" height="60px" width="60px" class="rounded-circle"></td>
                                                <td class="text-right">
                                                    <div class="actions">
                                                        <a href="{% url 'view_user_detail' i.user_id %}" class="btn btn-sm bg-success-light mr-2">
                                                            <i class="fas fa-light fa-eye"></i>
                                                        </a>
                                                        <a href="{% url 'delete_user' i.user_id %}" class="btn btn-sm bg-danger-light" id="delete_category">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.getElementById('send_mail_to_all').addEventListener('submit', function(event) {
        // Prevent the form from submitting normally
        event.preventDefault();

        // Select the sendotpdiv and lodingsendotpdiv elements
        var sendmailtoalldiv = document.getElementById('sendmailtoalldiv');
        var loadingsendmailtoalldivdiv = document.getElementById('loadingsendmailtoalldivdiv');

        sendmailtoalldiv.style.display = 'none';
        loadingsendmailtoalldivdiv.style.display = 'block';
    });
</script>
{% endblock  %}