<!-- Update profile without page reload -->
<script>
    $(document).on('submit', '#admin_profile_update', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "admin_profile_update" %}',
            data: {
                user_name: $('#user_name').val(),
                first_name: $('#first_name').val(),
                last_name: $('#last_name').val(),
                email: $('#email').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: () => {
                $(window).scrollTop(0);
                $("#profile").load(location.href + " #profile>*", "");
                $("#profile_link").load(location.href + " #profile_link>*", "");
                $("#profilecard").load(location.href + " #profilecard>*", "");
                $("#header_username").load(location.href + " #header_username>*", "");
                $("#success").html(
                    `
                    <div class="alert alert-success" roal="success">
                        Your Profile Is Update...
                    </div>
                    `
                )
                setInterval(function(){
                    $('.alert').fadeOut();
                }, 3000)
            }
        });
    })
</script>

<!-- Add Category -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#add_category').submit(function(e){
            e.preventDefault();

            var category_name = $('#category_name').val();
            var form_data = new FormData();

            form_data.append('category_name', category_name);
            form_data.append('category_image', $('#category_image')[0].files[0]);
            $.ajax({
                url: "{% url 'add_category' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_category").load(location.href + " #add_category>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Category Is Added...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Add Sub Category -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#add_subcategory').submit(function(e){
            e.preventDefault();

            var category_id = $('#category_id').val();
            var subcategory_name = $('#subcategory_name').val();
            var form_data = new FormData();

            form_data.append('category_id', category_id);
            form_data.append('subcategory_name', subcategory_name);
            form_data.append('subcategory_image', $('#subcategory_image')[0].files[0]);
            $.ajax({
                url: "{% url 'add_subcategory' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_category").load(location.href + " #add_category>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Sub Category Is Added...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Edit Category -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#edit_category').submit(function(e){
            e.preventDefault();

            var prev_img = $('#prev_img').val();
            var category_id = $('#category_id').val();
            var category_name = $('#category_name').val();
            var form_data = new FormData();

            form_data.append('prev_img', prev_img);
            form_data.append('category_id', category_id);
            form_data.append('category_name', category_name);
            form_data.append('category_image', $('#category_image')[0].files[0]);
            $.ajax({
                url: "{% url 'update_category' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_category").load(location.href + " #add_category>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Category Is Updated...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Edit Sub Category -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#edit_subcategory').submit(function(e){
            e.preventDefault();

            var prev_img = $('#prev_img').val();
            var subcategory_id = $('#subcategory_id').val();
            var subcategory_name = $('#subcategory_name').val();
            var category_id = $('#category_id').val();
            var form_data = new FormData();

            form_data.append('prev_img', prev_img);
            form_data.append('subcategory_id', subcategory_id);
            form_data.append('subcategory_name', subcategory_name);
            form_data.append('category_id', category_id);
            form_data.append('subcategory_image', $('#subcategory_image')[0].files[0]);
            $.ajax({
                url: "{% url 'update_subcategory' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_subcategory").load(location.href + " #add_subcategory>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Sub Category Is Updated...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Add Company -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#add_company').submit(function(e){
            e.preventDefault();

            var company_name = $('#company_name').val();
            var company_owner_name = $('#company_owner_name').val();
            var company_owner_email = $('#company_owner_email').val();
            var company_owner_phone = $('#company_owner_phone').val();
            var company_address = $('#company_address').val();

            var form_data = new FormData();

            form_data.append('company_name', company_name);
            form_data.append('company_owner_name', company_owner_name);
            form_data.append('company_owner_email', company_owner_email);
            form_data.append('company_owner_phone', company_owner_phone);
            form_data.append('company_address', company_address);
            
            $.ajax({
                url: "{% url 'add_company' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_company").load(location.href + " #add_company>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Company Is Added...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Edit Company -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#edit_company').submit(function(e){
            e.preventDefault();

            var company_id = $('#company_id').val();
            var company_name = $('#company_name').val();
            var company_owner_name = $('#company_owner_name').val();
            var company_owner_email = $('#company_owner_email').val();
            var company_owner_phone = $('#company_owner_phone').val();
            var company_address = $('#company_address').val();

            var form_data = new FormData();

            form_data.append('company_id', company_id);
            form_data.append('company_name', company_name);
            form_data.append('company_owner_name', company_owner_name);
            form_data.append('company_owner_email', company_owner_email);
            form_data.append('company_owner_phone', company_owner_phone);
            form_data.append('company_address', company_address);

            $.ajax({
                url: "{% url 'update_company' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#edit_company").load(location.href + " #edit_company>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Company Is Updated...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Add Product -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#add_product').submit(function(e){
            e.preventDefault();

            var product_name = $('#product_name').val();
            var product_description = $('#product_description').val();
            var product_price = $('#product_price').val();
            var product_discount_price = $('#product_discount_price').val();
            var product_quantity = $('#product_quantity').val();
            var product_expirydate = $('#product_expirydate').val();
            var product_prescription_status = $('#product_prescription_status').val();
            var company_id = $('#company_id').val();
            var product_weight = $('#product_weight').val();
            var product_madein = $('#product_madein').val();
            var product_advantage = $('#product_advantage').val();
            var product_disadvantage = $('#product_disadvantage').val();
            var subcategory_id = $('#subcategory_id').val();

            var form_data = new FormData();

            form_data.append('product_name', product_name);
            form_data.append('product_description', product_description);
            form_data.append('product_price', product_price);
            form_data.append('product_discount_price', product_discount_price);
            form_data.append('product_quantity', product_quantity);
            form_data.append('product_expirydate', product_expirydate);
            form_data.append('product_prescription_status', product_prescription_status);
            form_data.append('company_id', company_id);
            form_data.append('product_weight', product_weight);
            form_data.append('product_madein', product_madein);
            form_data.append('product_advantage', product_advantage);
            form_data.append('product_disadvantage', product_disadvantage);
            form_data.append('subcategory_id', subcategory_id);
            form_data.append('product_image', $('#product_image')[0].files[0]);
            $.ajax({
                url: "{% url 'add_product' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_product").load(location.href + " #add_product>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Product Is Added...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Edit Product -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#edit_product').submit(function(e){
            e.preventDefault();

            var product_id = $('#product_id').val();
            var product_name = $('#product_name').val();
            var product_description = $('#product_description').val();
            var product_price = $('#product_price').val();
            var product_discount_price = $('#product_discount_price').val();
            var product_quantity = $('#product_quantity').val();
            var product_expirydate = $('#product_expirydate').val();
            var product_prescription_status = $('#product_prescription_status').val();
            var company_id = $('#company_id').val();
            var product_madein = $('#product_madein').val();
            var product_weight = $('#product_weight').val();
            var product_advantage = $('#product_advantage').val();
            var product_disadvantage = $('#product_disadvantage').val();
            var subcategory_id = $('#subcategory_id').val();
            var prev_img = $('#prev_img').val();

            var form_data = new FormData();

            form_data.append('product_id', product_id);
            form_data.append('product_name', product_name);
            form_data.append('product_description', product_description);
            form_data.append('product_price', product_price);
            form_data.append('product_discount_price', product_discount_price);
            form_data.append('product_quantity', product_quantity);
            form_data.append('product_expirydate', product_expirydate);
            form_data.append('product_prescription_status', product_prescription_status);
            form_data.append('company_id', company_id);
            form_data.append('product_weight', product_weight);
            form_data.append('product_madein', product_madein);
            form_data.append('product_advantage', product_advantage);
            form_data.append('product_disadvantage', product_disadvantage);
            form_data.append('subcategory_id', subcategory_id);
            form_data.append('product_image', $('#product_image')[0].files[0]);
            form_data.append('prev_img', prev_img);
            $.ajax({
                url: "{% url 'update_product' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#edit_product").load(location.href + " #edit_product>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Product Is Updated...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Add Offer -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#add_offer').submit(function(e){
            e.preventDefault();

            var offer_code = $('#offer_code').val();
            var offer_rate = $('#offer_rate').val();
            var offer_required_amount = $('#offer_required_amount').val();
            var offer_description = $('#offer_description').val();

            var form_data = new FormData();

            form_data.append('offer_code', offer_code);
            form_data.append('offer_rate', offer_rate);
            form_data.append('offer_required_amount', offer_required_amount);
            form_data.append('offer_description', offer_description);
            form_data.append('offer_image', $('#offer_image')[0].files[0]);

            $.ajax({
                url: "{% url 'add_offer' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_offer").load(location.href + " #add_offer>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Offer Is Added...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Edit Offer -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#edit_offer').submit(function(e){
            e.preventDefault();

            var offer_id = $('#offer_id').val();
            var offer_code = $('#offer_code').val();
            var offer_rate = $('#offer_rate').val();
            var offer_required_amount = $('#offer_required_amount').val();
            var offer_description = $('#offer_description').val();
            var prev_img = $('#prev_img').val();

            var form_data = new FormData();

            form_data.append('offer_id', offer_id);
            form_data.append('offer_code', offer_code);
            form_data.append('offer_rate', offer_rate);
            form_data.append('offer_required_amount', offer_required_amount);
            form_data.append('offer_description', offer_description);
            form_data.append('offer_image', $('#offer_image')[0].files[0]);
            form_data.append('prev_img', prev_img);
            $.ajax({
                url: "{% url 'update_offer' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#edit_offer").load(location.href + " #edit_offer>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Offer Is Updated...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Send mail to all -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#send_mail_to_all').submit(function(e){
            e.preventDefault();

            var email_msg = $('#email_msg').val();

            var form_data = new FormData();

            form_data.append('email_msg', email_msg);

            $.ajax({
                url: "{% url 'send_mail_to_all' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#send_mail_to_all").load(location.href + " #send_mail_to_all>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Mail Is Sending...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000);
                    var sendmailtoalldiv = document.getElementById('sendmailtoalldiv');
                    var loadingsendmailtoalldivdiv = document.getElementById('loadingsendmailtoalldivdiv');

                    sendmailtoalldiv.style.display = 'block';
                    loadingsendmailtoalldivdiv.style.display = 'none';
                }
            });
        });
    });
</script>

<!-- Status user -->
<script>
    $(document).on('click', '#status_change', function(e){
        e.preventDefault();
        
        $.ajax({
            type: 'POST',
            url: $('#status_change').attr('href'),
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: () => {
                $(window).scrollTop(0);
                $("#status_card").load(location.href + " #status_card>*", "");
                $("#success").html(
                    `
                    <div class="alert alert-success" roal="success">
                        Your User Status Is Changed...
                    </div>
                    `
                )
                setInterval(function(){
                    $('.alert').fadeOut();
                }, 3000)
            }
        });
    })
</script>

<!-- Update order status without page reload -->
<script>
    $(document).on('click', '#update_status', function(e){
        e.preventDefault();

        var order_tracking_id = $('#order_tracking_id').val();
        var order_status = $('#order_status').val();

        $.ajax({
            url: "{% url 'update_order_status' %}",
            method: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data:  {
                order_tracking_id : order_tracking_id,
                order_status : order_status
            },
            success: () => {
                $("#order_detail").load(location.href + " #order_detail>*", "");
                $("#success").html(
                    `
                    <div class="alert alert-success" roal="success">
                        Your Order Status Is Updated...
                    </div>
                    `
                )
                setInterval(function(){
                    $('.alert').fadeOut();
                }, 3000)
            }
        });
    })
</script>

<!-- Status user -->
<script>
    $(document).on('click', '#add_notification', function(e){
        e.preventDefault();

        var notification_message = $('#notification_message').val();

        $.ajax({
            type: 'POST',
            url: "{% url 'add_notification' %}",
            data: {
                notification_message : notification_message,
            },
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: () => {
                $(window).scrollTop(0);
                $("#main_div").load(location.href + " #main_div>*", "");
                $("#success").html(
                    `
                    <div class="alert alert-success" roal="success">
                        Your Notificition Is Added...
                    </div>
                    `
                )
                setInterval(function(){
                    $('.alert').fadeOut();
                }, 3000)
            }
        });
    })
</script>

<!-- Add Doctor -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#add_doctor').submit(function(e){
            e.preventDefault();

            var username = $('#username').val();
            var doctor_first_name = $('#doctor_first_name').val();
            var doctor_last_name = $('#doctor_last_name').val();
            var doctor_email = $('#doctor_email').val();
            var doctor_gender = $('#doctor_gender').val();
            var doctor_password = $('#doctor_password').val();

            var form_data = new FormData();

            form_data.append('username', username);
            form_data.append('doctor_first_name', doctor_first_name);
            form_data.append('doctor_last_name', doctor_last_name);
            form_data.append('doctor_email', doctor_email);
            form_data.append('doctor_gender', doctor_gender);
            form_data.append('doctor_password', doctor_password);

            $.ajax({
                url: "{% url 'add_doctor' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: () => {
                    $(window).scrollTop(0);
                    $("#add_doctor").load(location.href + " #add_doctor>*", "");
                    $("#success").html(
                        `
                        <div class="alert alert-success" roal="success">
                            Your Doctor Is Added...
                        </div>
                        `
                    )
                    setInterval(function(){
                        $('.alert').fadeOut();
                    }, 3000)
                }
            });
        });
    });
</script>

<!-- Send order releted mail -->
<script>
    $(document).on('click', '#send_order_releted_mail', function(e){
        e.preventDefault();

        var order_releted_mail = $('#order_releted_mail').val();
        var user_email = $(this).data("user-email");
        $.ajax({
            type: 'POST',
            url: "order_mail/"+ user_email,
            data: {
                order_releted_mail : order_releted_mail,
            },
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: () => {
                $(window).scrollTop(0);
                $("#success").html(
                    `
                    <div class="alert alert-success" roal="success">
                        Your Mail Is Send To User...
                    </div>
                    `
                )
                setInterval(function(){
                    $('.alert').fadeOut();
                }, 3000);

                var sendmailtodiv = document.getElementById('sendmailtodiv');
                var loadingsendmailtodiv = document.getElementById('loadingsendmailtodiv');

                sendmailtodiv.style.display = 'block';
                loadingsendmailtodiv.style.display = 'none';
            }
        });
    })
</script>