{% extends 'doctor-base.html' %}
{% load static %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <ul class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Generate Prescription</li>
        </ul>
    </div><!-- End Page Title -->
    <div id="success"></div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-header">User Detail / Prescription Disease</div>
                            <div class="card-body profile-card pt-1 d-flex flex-column align-items-left" id="profile">
                                <h3 class="mt-2"><b>User Name : </b>{{prescription.user.username}}</h3>
                                <h3 class="mt-2"><b>Disease : </b>{{prescription.prescription_message}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="status_card">
                        <div class="card shadow">
                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center" id="profile">
                                <h3 class="mt-2">Prescription Status : <span class="text-success">Is {{prescription.prescription_status}}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body pt-3">
                                <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="profile_link">
                                    <li class="nav-item col">
                                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Generate Prescription</button>
                                    </li>
                                </ul>
                                <form id="prescription_form" class="card-body pt-3" method="POST">
                                    {% csrf_token %}
                                    <div class="row mb-2">
                                        <div class="col-lg-12 col-md-3 label">
                                            <div class="row">
                                                <div class="col-3 mt-1">
                                                    <label for="prescription_img" class="form-label">Prescription Img :- </label>
                                                </div>
                                                <div class="col">
                                                    <input type="file" class="form-control" id="prescription_img" name="prescription_img">
                                                </div>
                                                <input type="hidden" value="{{prescription.prescription_detail_id}}" id="prescription_detail_id" name="prescription_detail_id">
                                                <input type="hidden" value="{{prescription.prescription_id}}" id="prescription_id" name="prescription_id">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-end">
                                        <button type="submit" class="btn btn-primary" id="generate-prescription">Send Prescription</button>
                                    </div>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock  %}