{% extends 'doctor-base.html' %}
{% load static %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <ul class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view_all_prescription' %}">View All Prescription</a></li>
            <li class="breadcrumb-item active">Prescription Details</li>
        </ul>
    </div><!-- End Page Title -->
    <div id="success"></div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center" id="profile">
                                {% if prescription.user.profile_pic == "" %}
                                    <img src="{% static 'medicine_masters_assets/images/user.png' %}" alt="Profile" class="rounded-circle">
                                {% else %}
                                    <img src="/{{prescription.user.profile_pic}}" id="fullscreen-btn" alt="Profile" height="120px" width="120px" class="rounded-circle">
                                {% endif %}
                                <h3 class="mt-2">{{prescription.user.username}}</h3>
                                <h6>{{prescription.user.email}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body profile-card d-flex flex-column align-items-center">
                                <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="prescription_link">
                                    <li class="nav-item col">
                                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Prescription Image</button>
                                    </li>
                                </ul>
                                <div class="tab-content pt-2 d-block" id="prescription_img_card">
                                    <div class="tab-pane fade-out show active profile-overview" id="profile-overview">
                                        <a href="/{{prescription.prescription_img}}" data-toggle="lightbox">
                                            <img src="/{{prescription.prescription_img}}" class="w-50">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body pt-3">
                                    <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="profile_link">
                                        <li class="nav-item col">
                                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Prescription Medicine Detail</button>
                                        </li>
                                    </ul>
                                    
                                    <div class="tab-content pt-2 d-block" id="status_card">
                                        <div class="tab-pane fade-out show active profile-overview">
                                            {% for i in prescription_detail %}
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Product Name :-</div>
                                                <div class="col-lg-9 col-md-8">{{i.order_detail.product.product_name}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Product Quantity :-</div>
                                                <div class="col-lg-9 col-md-8">{{i.order_detail.product_quantity}}</div>
                                            </div>
                                            <div class="row">
                                                {% if i.prescription_status == 'Pending For Approve' %}
                                                    <div class="col text-end"><button type="button" class="btn btn-primary" data-item-id="{{i.prescription_detail_id}}" data-item-id2="{{prescription.prescription_id}}" id="approve_btn">Approved</button></div>
                                                    <div class="col"><button type="button" class="btn btn-danger" data-item-id="{{i.prescription_detail_id}}" data-item-id2="{{prescription.prescription_id}}" id="reject_btn">Reject</button></div>
                                                {% elif i.prescription_status == 'Approve' %}
                                                    <div class="col text-end"><button type="button" class="btn btn-primary" disabled>Approved</button></div>
                                                    <div class="col"><button type="button" class="btn btn-danger" data-item-id="{{i.prescription_detail_id}}" data-item-id2="{{prescription.prescription_id}}" id="reject_btn">Reject</button></div>
                                                {% else %}
                                                    <div class="col text-end"><button type="button" class="btn btn-primary" disabled x>Approved</button></div>
                                                    <div class="col"><button type="button" class="btn btn-danger" disabled>Reject</button></div>
                                                {% endif %}
                                            </div>
                                            <hr>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock  %}