{% extends 'admin-base.html' %}
{% load static %}
{% block content %}
<main id="main" class="main">
    <div id="success"></div>
    
    <div class="col">
        <div class="card">
            <div class="card-body">
                <ul class="breadcrumb mt-3">
                    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item">Category</li>
                    <li class="breadcrumb-item active">View Sub Category</li>
                </ul>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive mt-2" >                  
                                    <table id="table" class="table table-hover table-center mb-0">
                                        <div id="table_upper"></div>
                                        <thead class="bg-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Sub Category Name</th>
                                                <th>Sub Category Image</th>
                                                <th>Category Type</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider" id="main_div">
                                            {% for i in subcategory %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.subcategory_name}}</td>
                                                {% if i.subcategory_img == "" %}
                                                    <td><img src="{% static 'medicine_masters_assets/images/no-category.jpg' %}" height="60px" width="60px" alt="Profile" class="rounded-circle"></td>
                                                {% else %}
                                                    <td><img src="/{{i.subcategory_img}}" alt="" height="60px" width="60px" class="rounded-circle"></td>
                                                {% endif %}
                                                <td>{{i.category.category_name}}</td>
                                                <td class="text-right">
                                                    <div class="actions">
                                                        <a href="{% url 'edit_subcategory' i.subcategory_id %}" class="btn btn-sm bg-success-light mr-2">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <a href="{% url 'delete_subcategory' i.subcategory_id %}" class="btn btn-sm bg-danger-light" id="delete_subcategory">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock  %}