<!DOCTYPE html>
<html lang="en">
  {%load static%}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medicine Masters</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{% static 'medicine_masters_assets/admin assets/img/favicon.png' %}" rel="icon"> -->
  <link href="{% static 'medicine_masters_assets/admin assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'medicine_masters_assets/admin assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'medicine_masters_assets/admin assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'medicine_masters_assets/admin assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'medicine_masters_assets/admin assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'medicine_masters_assets/admin assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'medicine_masters_assets/admin assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

  <!-- Template Main CSS File -->
  <link href="{% static 'medicine_masters_assets/admin assets/css/style.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="col-12">
                                <div class="alert alert-danger" style="display: none;" id="error"></div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center pt-3">
                                        <a class="logo d-flex align-items-center w-auto">
                                            <span class="d-none d-lg-block">Medicine Masters</span>
                                        </a>
                                    </div>
                                    <div class="pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Forgot Password</h5>
                                        <!-- <p class="text-center small">Enter your username & password to login</p> -->
                                    </div>

                                    <form action="" id="sendotpform" method="POST" class="row g-3 needs-validation" novalidate>
                                    {% csrf_token %}
                                        <div class="col-12">
                                            <label for="email" class="form-label">Your Email</label>
                                            <input type="email" name="email" class="form-control" placeholder="Enter email to send OTP." id="email" required>
                                            <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                        </div>
                                        
                                        <!-- <div class="col-12">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="password" required>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div> -->

                                        <div class="col-12" id="sendotpdiv">
                                            <button class="btn btn-primary w-100" id="sendotp" type="submit">Send OTP</button>
                                        </div>
                        
                                        <div class="col-12" id="loadingsendotpdiv" style="display: none;">
                                            <button class="btn btn-primary w-100" type="button" disabled>
                                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                                <span role="status">Sending OTP...</span>
                                            </button>
                                        </div>
                        
                                        <div class="col-12">
                                            <p class="small mb-0">Back to Login page ? <a href="{% url 'login_page' %}">Login</a></p>
                                        </div>
                                    </form>

                                    <form action="" id="fillotpform" method="POST" class="row g-3 needs-validation" novalidate style="display: none;">
                                    {% csrf_token %}
                                        <div class="col-12">
                                            <label for="otp" class="form-label">Your OTP</label>
                                            <input type="text" name="otp" class="form-control" placeholder="Enter OTP send to your email." id="otp" required>
                                            <input type="text" name="verifyemail" class="form-control" id="verifyemail" hidden>
                                            <div class="invalid-feedback">Please enter a valid OTP!</div>
                                        </div>
    
                                        <!-- <div class="col-12">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="password" required>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div> -->
                                        <div id="timer-display" class="text-end"><p class="small mb-0">OTP Is Valid : 00:30</p></div>
                                        <!-- <div class="text-end">
                                            <p class="small mb-0" id="resend" style="display: none;">Re-Send ? <a style="color: blue; text-decoration: none; cursor: pointer;">Re-Send</a></p>
                                        </div> -->

                                        <div class="col-12" id="verifyotpdiv">
                                            <button class="btn btn-primary w-100" id="fillotp" type="submit">Verify OTP</button>
                                        </div>
                                        <div class="col-12" id="resendotpdiv" style="display: none;">
                                            <button class="btn btn-primary w-100" id="resend" type="submit">Resend OTP</button>
                                        </div>

                                        <div class="col-12" id="loadingresendotpdiv" style="display: none;">
                                            <button class="btn btn-primary w-100" type="button" disabled>
                                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                                <span role="status">Resend OTP...</span>
                                            </button>
                                        </div>
                                        <div class="col-12" id="loadingverifyotpdiv" style="display: none;">
                                            <button class="btn btn-primary w-100" type="button" disabled>
                                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                                <span role="status">Verify OTP...</span>
                                            </button>
                                        </div>
                        
                                        <div class="col-12">
                                            <p class="small mb-0">Back to Login page ? <a href="{% url 'login_page' %}">Login</a></p>
                                        </div>
                                    </form>   

                                    <form action="" method="POST" id="forgot_passwordform" class="row g-3 needs-validation" novalidate style="display: none;">
                                    {% csrf_token %}
                                        <input type="text" name="passwordemail" class="form-control" id="passwordemail" hidden>
                                        <div class="col-12">
                                            <label for="password" class="form-label">Your New Password</label>
                                            <input type="password" name="password" class="form-control" placeholder="Enter New Password" id="password" required>
                                            <div class="invalid-feedback" id="password_error">Password must be at least 8 characters long.</div>
                                        </div>

                                        <div class="col-12">
                                            <label for="cpassword" class="form-label">Your Confirm Password</label>
                                            <input type="password" name="cpassword" class="form-control" placeholder="Enter Confirm Password" id="cpassword" required>
                                            <div class="invalid-feedback" id="cpassword_error">Password must be at least 8 characters long.</div>
                                        </div>
    
                                        <!-- <div class="col-12">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="password" required>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div> -->

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" id="forgot_password" type="submit">Reset Password</button>
                                        </div>
                        
                                        <div class="col-12">
                                            <p class="small mb-0">Back to Login page ? <a href="{% url 'login_page' %}">Login</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

  <!-- Vendor JS Files -->
  <script src="{% static 'medicine_masters_assets/admin assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'medicine_masters_assets/admin assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'medicine_masters_assets/admin assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'medicine_masters_assets/admin assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'medicine_masters_assets/admin assets/vendor/quill/quill.min.js' %}"></script>
  {% comment %} <script src="{% static 'medicine_masters_assets/admin assets/vendor/simple-datatables/simple-datatables.js' %}"></script> {% endcomment %}
  <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'medicine_masters_assets/admin assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'medicine_masters_assets/admin assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'medicine_masters_assets/admin assets/js/main.js' %}"></script>
  <script src="{% static 'medicine_masters_assets/js/myjs.js' %}"></script>

  <script>

    document.getElementById('sendotp').addEventListener('click', function(event) {
        // Prevent the form from submitting normally
        event.preventDefault();
        
        // Select the sendotpdiv and lodingsendotpdiv elements
        var sendotpdiv = document.getElementById('sendotpdiv');
        var loadingsendotpdiv = document.getElementById('loadingsendotpdiv');

        // Toggle the display property of the elements
        sendotpdiv.style.display = 'none';
        loadingsendotpdiv.style.display = 'block';

        var timerDisplay = document.getElementById("timer-display");
        startTimer(32, timerDisplay);
    });
    
    document.getElementById('resend').addEventListener('click', function(event) {
        // Prevent the form from submitting normally
        event.preventDefault();

        var resendotpdiv = document.getElementById('resendotpdiv');
        var loadingresendotpdiv = document.getElementById('loadingresendotpdiv');
        
        resendotpdiv.style.display = 'none';
        loadingresendotpdiv.style.display = 'block';

        var timerDisplay = document.getElementById("timer-display");
        resendStartTimer(32, timerDisplay);
    });
    
    document.getElementById('fillotp').addEventListener('click', function(event) {
        // Prevent the form from submitting normally
        event.preventDefault();

        // Select the sendotpdiv and lodingsendotpdiv elements
        var verifyotpdiv = document.getElementById('verifyotpdiv');
        var loadingverifyotpdiv = document.getElementById('loadingverifyotpdiv');

        verifyotpdiv.style.display = 'none';
        loadingverifyotpdiv.style.display = 'block';
    });

    function startTimer(duration, display) 
    {
        var timer = duration, minutes, seconds;
        var itt = setInterval(function () 
        {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = "OTP Is Valid : " + minutes + ":" + seconds;

            if (--timer < 0) 
            {
                clearInterval(itt);
                var verifyemail = $('#verifyemail').val();
                var form_data = new FormData();
                form_data.append('verifyemail', verifyemail);

                $.ajax({
                    url: "{% url 'clear_otp' %}",
                    type: "POST",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: form_data,
                    contentType: false,
                    processData: false,
                });
                document.getElementById("timer-display").style.display = 'none';
                document.getElementById("verifyotpdiv").style.display = 'none';
                document.getElementById("resendotpdiv").style.display = 'block';
            }
        }, 1000);
    }
    
    function resendStartTimer(duration, display) 
    {
        document.getElementById("resendotpdiv").style.display = 'none';
        var timer = duration, minutes, seconds;
        var itt = setInterval(function () 
        {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = "OTP Is Valid : " + minutes + ":" + seconds;

            if (--timer < 0) 
            {
                clearInterval(itt);
                var verifyemail = $('#verifyemail').val();
                var form_data = new FormData();
                form_data.append('verifyemail', verifyemail);

                $.ajax({
                    url: "{% url 'clear_otp' %}",
                    type: "POST",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: form_data,
                    contentType: false,
                    processData: false,
                });
                document.getElementById("timer-display").style.display = 'none';
                document.getElementById("verifyotpdiv").style.display = 'none';
                document.getElementById("resendotpdiv").style.display = 'block';
            }
        }, 1000);
    }

    $(document).on('click', '#sendotp', function(e){
        e.preventDefault();
        var email = $('#email').val();
        
        var form_data = new FormData();

        form_data.append('email', email);

        $.ajax({
            url: "{% url 'send_otp' %}",
            type: "POST",
            mimeType: "multipart/form-data",
            contentType: false,
            processData: false,
            data: form_data,
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(response) {
                // Check the response from the server, and manipulate the elements accordingly
                // For example, if the server returns a JSON object with "success": true, then:
                if (response.status == 200) {
                    $('#verifyemail').val(response.email);
                    $("#sendotpform").hide();
                    $("#fillotpform").css("display", "flex");
                } else {
                // Handle invalid cases; show alert or modify form if necessary
                    document.getElementById("error").style.display = 'block';
                    document.getElementById("error").innerText = response.error;
                    setInterval(function ()
                    {      
                        document.getElementById("error").style.display = 'none';
                    }, 5000);
                    loadingsendotpdiv.style.display = 'none';
                    sendotpdiv.style.display = 'block';
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle errors if necessary
                console.log("Error: " + xhr.responseText);
            }
        });
    });

    $(document).on('click', '#resend', function(e){
        e.preventDefault();
        var verifyemail = $('#verifyemail').val();
        
        var form_data = new FormData();
        form_data.append('verifyemail', verifyemail);

        $.ajax({
            url: "{% url 're_send_otp' %}",
            type: "POST",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function(response) 
            {
                // Check the response from the server, and manipulate the elements accordingly
                // For example, if the server returns a JSON object with "success": true, then:
                if (response.status == 200) 
                {
                    $('#verifyemail').val(response.email);
                    document.getElementById("loadingresendotpdiv").style.display = 'none';
                    document.getElementById("verifyotpdiv").style.display = 'block';
                    document.getElementById("timer-display").style.display = 'block';
                } else 
                {
                    // Handle invalid cases; show alert or modify form if necessary
                    alert("Error1: " + response.status);
                }
            },
            // error: function(xhr, textStatus, errorThrown) 
            // {
            //     // Handle errors if necessary
            //     console.log("Error: " + xhr.responseText);
            // }
        });
    });

    $(document).on('click', '#fillotp', function(e){
        e.preventDefault();

        var otp = $('#otp').val();
        var verifyemail = $('#verifyemail').val();
            
        var form_data = new FormData();

        form_data.append('otp', otp);
        form_data.append('verifyemail', verifyemail);

        setTimeout(function () {
            $.ajax({
                url: "{% url 'verify_otp' %}",
                type: "POST",
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                data: form_data,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response) {
                    // Check the response from the server, and manipulate the elements accordingly
                    // For example, if the server returns a JSON object with "success": true, then:
                    if (response.status == 200) {
                        $('#passwordemail').val(response.email);
                        $("#fillotpform").hide();
                        $("#forgot_passwordform").css("display", "flex");
                    } else {
                    // Handle invalid cases; show alert or modify form if necessary
                        document.getElementById("error").style.display = 'block';
                        document.getElementById("error").innerText = response.error;
                        setInterval(function ()
                        {      
                            document.getElementById("error").style.display = 'none';
                        }, 5000);
                        loadingverifyotpdiv.style.display = 'none';
                        verifyotpdiv.style.display = 'block';
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Handle errors if necessary
                    console.log("Error: " + xhr.responseText);
                }
            });
        }, 2000);
    })

    $(document).on('click', '#forgot_password', function(e){
        e.preventDefault();

        var password = $('#password').val();
        var cpassword = $('#cpassword').val();
        var passwordemail = $('#passwordemail').val();
            
        var form_data = new FormData();

        form_data.append('password', password);
        form_data.append('cpassword', cpassword);
        form_data.append('passwordemail', passwordemail);

        $.ajax({
            url: "{% url 'forgot_password' %}",
            type: "POST",
            mimeType: "multipart/form-data",
            contentType: false,
            processData: false,
            data: form_data,
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(response) {
                // Check the response from the server, and manipulate the elements accordingly
                // For example, if the server returns a JSON object with "success": true, then:
                if (response.status == 200) {
                    window.location.href = "{% url 'login_page' %}";
                } else {
                    document.getElementById("error").style.display = 'block';
                    document.getElementById("error").innerText = response.error;
                    setInterval(function ()
                    {      
                        document.getElementById("error").style.display = 'none';
                    }, 5000);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle errors if necessary
                alert("Error: " + xhr.responseText);
            }
        });
    })
</script>
</body>

</html>