{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% block content %}
<!-- Products -->
<div class="position-fixed top-5 end-0 p-3" id="myAlert" style="z-index: 11;">
</div>
<section class="shadow" style="background-color: #eee;">
  <div class="container py-4">
      <div class="row">
          <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 shadow">
                  <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="{% url 'users_home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">All Product Of <b>{{company_name.company_name}}</b></li>
                  </ol>
              </nav>
          </div>
      </div>
      <section class="">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row cart_detail" id="my_cart">
                {% for i in product %}
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex mb-5">
                  <div class="card w-100 h-100 my-2 shadow-2-strong">
                    <a href="{% url 'product_detail' i.product_id %}">
                      <img src="/{{i.product_img}}" class="card-img-top p-5" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">{{i.product_name}}</h5>
                      <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                        {% if user.is_authenticated %}
                          {% if i|is_in_cart:cart %}
                          <div class="input-group">
                            <div class="col text-center">
                              <button data-item-id="{{ i.product_id }}" class="btn btn-white border border-secondary px-3" style="height: 35px;" id="all_product_by_company_minus_qty" data-mdb-ripple-color="dark">
                                <i class="fas fa-minus"></i>
                              </button>
                            </div>

                            <div class="col" id="cart_qty_value">
                              <input id="cart_qty" disabled type="text" class="form-control text-center border border-secondary rounded" value="{{i|cart_qty:cart}}" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                            </div>
            
                            <div class="col text-center">
                              <button data-item-id="{{ i.product_id }}" class="btn btn-white border border-secondary px-3" style="height: 35px;" id="all_product_by_company_plus_qty" data-mdb-ripple-color="dark">
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                          </div>
                          {% else %}
                          <input data-item-id="{{i.product_id}}" class="btn btn-primary shadow me-1" type="submit" value="Add To Cart" id="product_by_company_id_cart_item">
                          {% endif %}
                        {% else %}
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                          Buy Now
                        </button>
                        {% endif %}
                        <p class="card-text ms-4 mb-1">₹{{i.product_discount_price}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">If you don't have an account, first create a account</div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                      <a href="{% url 'login_page' %}" type="button" class="btn btn-primary" data-mdb-ripple-init>Login</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <!-- Pagination -->
      <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- Pagination -->
  </div>
</section>
<!-- Products -->
{% endblock  %}