{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% block content %}
<div class="position-fixed top-5 end-0 p-3" id="myAlert" style="z-index: 11;">
</div>
<section class="shadow" style="background-color: #eee;">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 shadow">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'users_home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
        </div>
        <form  method="POST" id="check_order_now">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-8 col-lg-8 mb-4">
                    <div class="card shadow border">
                        <div class="p-4">
                            <div class="row">
                                <h5 class="card-title mb-3">Checkout Detail</h5>
                                <hr class="py-1"/>
                                <div class="col-6 mb-1">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="first_name" name="first_name" class="form-control" value="{{user.first_name}}"/>
                                        <label class="form-label" for="first_name">First Name</label>
                                    </div>
                                </div>

                                <div class="col-6 mb-1">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="last_name" name="last_name" class="form-control" value="{{user.last_name}}"/>
                                        <label class="form-label" for="last_name">Last Name</label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="number" id="phone" name="phone" class="form-control" value="{{user.phone}}"/>
                                        <label class="form-label" for="phone">Phone</label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="email" name="email" class="form-control" value="{{user.email}}" disabled/>
                                        <label class="form-label" for="email">Email</label>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <hr class="py-1"/>
                                <h5 class="card-title mb-3">Address</h5>
                                <hr class="py-1"/>
                                <div class="col-sm-8 mb-3">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="order_delivery_address" name="order_delivery_address" class="form-control" value="{{address.delivery_address}}"/>
                                        <label class="form-label" for="address">Delivery Address</label>
                                    </div>
                                </div>
                    
                                <div class="col-sm-4 mb-3">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="number" id="order_delivery_address_pincode" name="order_delivery_address_pincode" class="form-control" value="{{address.delivery_address_pincode}}"/>
                                        <label class="form-label" for="pincode">Delivery Address Pincode</label>
                                    </div>
                                </div>

                                {% if prescription_status > 0 %}
                                <hr>
                                <h5 class="card-title mb-3">Prescription Image</h5>
                                <hr>
                                <div class="col-sm-12">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="file" id="prescription_img" name="prescription_img" class="form-control" required/>
                                    </div>
                                </div>
                                {% else %}
                                <input type="file" id="prescription_img" name="prescription_img" class="form-control" hidden/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                    <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                        <div class="card shadow border">
                            <div class="p-4">
                                <div class="row">
                                    <h5 class="card-titlemb-3">Summary</h5>
                                    <hr class="py-1"/>
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">Total price : </p>
                                        <p class="mb-2">₹ {{checkout_product.product_discount_price}}</p>
                                        <input type="text" name="order_amount" id="order_amount" value="{{checkout_product.product_discount_price}}" hidden>
                                    </div>
                    
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">Discount : </p>
                                        <p class="mb-2 text-danger">- ₹ {{discount}}</p>
                                        <input type="text" name="order_discount" id="order_discount" value="{{discount}}" hidden>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">Shipping cost : </p>
                                        <p class="mb-2">+ ₹ 10</p>
                                    </div>
                                    
                                    <hr />

                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">Total price : </p>
                                        <p class="mb-2 fw-bold">₹ {{after_discount_value}}</p>
                                        <input type="text" name="order_total_amount" id="order_total_amount" value="{{after_discount_value}}" hidden>
                                    </div>
                                    
                                    <hr />
                                </div>

                                <div class="row">
                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="payment_method" id="cod" value="Case On Delivery"/>
                                            <label class="form-check-label" for="payment_method">COD</label>
                                          </div>
                                          
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="payment_method" id="online" value="Online Payment" checked/>
                                            <label class="form-check-label" for="payment_method">Online Payment</label>
                                          </div>
                                    </div>
                                    <hr />
                                </div>

                                <script>
                                    document.getElementById('cod').addEventListener('change', function() {
                                        if (this.checked) {
                                            document.getElementById('checkout-rzp-button1').style.display = 'none';
                                            document.getElementById('checkout-cod-payment').style.display = 'block';
                                        } else {
                                            document.getElementById('checkout-rzp-button1').style.display = 'block';
                                        }
                                    });

                                    document.getElementById('online').addEventListener('change', function() {
                                        if (this.checked) {
                                            document.getElementById('checkout-rzp-button1').style.display = 'block';
                                            document.getElementById('checkout-cod-payment').style.display = 'none';
                                        } else {
                                            document.getElementById('checkout-cod-payment').style.display = 'block';
                                        }
                                    });
                                </script>

                                <input hidden type="text" name="product_id" id="product_id" value="{{checkout_product.product_id}}">
                                <div class="d-flex justify-content-center">
                                    <button id="go-back" class="btn btn-light border me-1">Cancel</button>
                                    <button class="btn btn-success shadow-0 border ms-1" id="checkout-rzp-button1"><i class="fas fa-money-bill"></i> Continue</button>
                                    <button class="btn btn-success shadow-0 border ms-1" style="display: none;" id="checkout-cod-payment"><i class="fas fa-money-bill"></i> Cod Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-8">
                    <div class="card shadow border" style="background-color: #f1f0f0;">
                        <div class="p-4">
                            <div class="row">
                                <h5 class="card-title mb-3">Product Detail</h5>
                                <hr class="py-1"/>
                                <div class="row g-0">
                                    <div class="col-xl-2 col-md-4 mb-4 d-flex justify-content-center">
                                        <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0 d-flex justify-content-center">
                                            <img src="/{{checkout_product.product_img}}" class="w-50" />
                                            <a href="#!">
                                                <div class="hover-overlay">
                                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-md-5 col-sm-7 mb-2">
                                        <h5>{{checkout_product.product_name}}</h5>
                                        <p class="text mb-4 mb-md-0">
                                            <b>Peoduct Expirydate : </b>{{checkout_product.product_expirydate}}.
                                        </p>
                                        {% if checkout_product.product_prescription_status == 0 %}
                                            <p class="text mb-4 mb-md-0">
                                                <b>Prescription Is Required.</b>
                                            </p>
                                        {% else %}
                                            <p class="text mb-4 mb-md-0">
                                                <b>Prescription Is Not Required.</b>
                                            </p>
                                        {% endif %}
                                        <p class="text mb-4 mb-md-0">
                                            <b>Company Name : </b>{{checkout_product.company.company_name}}.
                                        </p>
                                        <p class="text mb-4 mb-md-0 text-truncate" style="max-lines: 3;">
                                            <b>Product Description : </b>{{checkout_product.product_description}}
                                        </p>
                                    </div>
                                    <div class="col-xl-3 col-md-3 col-sm-5 mb-2 d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex flex-row align-items-center mb-1">
                                                    <h4 class="mb-1 me-1">₹{{checkout_product.product_discount_price}}</h4>
                                                    <span class="text-danger"><s>₹{{checkout_product.product_price}}</s></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-flex flex-row align-items-center mb-1">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <span class="mb-1 me-1"><b>Total Price : </b>₹{{checkout_product.product_discount_price}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_SXFY1D0zq29TGB", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}" * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('checkout-rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
{% endblock  %}