{% extends 'base.html' %}
{% load static %}
{% load product_detail_cart %}
{% block content %} 
<!-- content -->
<div class="position-fixed top-5 end-0 p-3" id="myAlert" style="z-index: 11;">
</div>
<section class="shadow" id="profile_detail_cart">
    <div class="container py-4">
      <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4 shadow" style="background-color: rgb(226, 215, 215);">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'users_home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Product Detail</li>
                </ol>
            </nav>
        </div>
    </div>
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
              <img style="max-width: 100%; max-height: 58vh; margin: auto;" class="rounded-4 fit" src="/{{product.product_img}}" />
            </a>
          </div>
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{product.product_name}} <br />
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  4.5
                </span>
              </div>

              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{product.product_quantity}}</span>
              {% if product.product_quantity == 0 %}
                <span class="text-danger ms-2">Out Of The Stock</span>
              {% else %}
                <span class="text-success ms-2">In Stock</span>
              {% endif %}
            </div>
  
            <hr />

            <div class="mb-1">
              <span class="h4">₹{{product.product_discount_price}}</span>
              <span class="h6 text-danger"><s>₹{{product.product_price}}</s></span>
              <span class="text-success h6"> / Save {{save}} ₹</span>
            </div>
  
            <div class="row">
              <dt class="col-12" style="font-size: 15px;">Inclusive of all taxes</dt>
              <dt class="col-12" style="font-size: 13px; color: #c4c4c4;">*This product cannot be returned for a refund or exchange.</dt>
              <dt class="col-12" style="font-size: 13px; color: #c4c4c4;">*Delivery charges if applicable will be applied at checkout.</dt>
            </div>
            <hr />
  
            <div class="row mb-4">
              {% if user.is_authenticated %}
                {% if product|is_in_cart_product_detail:cart %}
                <div class="col-md-4 col-6">
                  <label class="mb-2 d-block">Quantity</label>
                  <div class="input-group" style="width: 170px;">
                    <a href="{% url 'product_detail_minus_qty' product.product_id %}" class="btn btn-white border border-secondary px-3 product_detail_cart_qty_minus" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                      <i class="fas fa-minus"></i>
                    </a> 

                    <input type="text" class="form-control text-center border border-secondary" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{product|product_detail_cart:cart}}" disabled/>
                  
                    <a href="{% url 'product_detail_plus_qty' product.product_id %}" class="btn btn-white border border-secondary px-3 product_detail_cart_qty_plus" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                      <i class="fas fa-plus"></i>
                    </a>
                  </div>
                </div>
                {% else %}
                <div class="col-md-4 col-6">
                  <a href="{% url 'add_to_cart_product_detail' product.product_id %}" class="btn btn-primary shadow me-1 add_cart_product_detail" type="submit"> Add To Cart </a>
                </div>
                {% endif %}
              {% endif %}
            </div>
            {% if user.is_authenticated %}
              {% if product.product_quantity == 0 %}
                <a href="{% url 'checkout' product.product_id %}" class="btn btn-primary disabled">
                  Buy Now
                </a>
              {% else %}
                <a href="{% url 'checkout' product.product_id %}" class="btn btn-primary">
                  Buy Now
                </a>
              {% endif %}
            {% else %}
            <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
              Buy Now
            </button>
            {% endif %}
          </div>
        </main>
      </div>
    </div>
</section>
<!-- content -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">If you don't have an account, first create a account</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
        <a href="{% url 'login_page' %}" type="button" class="btn btn-primary" data-mdb-ripple-init>Login</a>
      </div>
    </div>
  </div>
</div>
  
<section class="bg-light border-top py-4 shadow">
    <div class="container">
      <div class="row gx-4">
        <div class="col-lg-8 mb-4">
          <div class="border rounded-2 px-3 py-2 bg-white">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
              <li class="nav-item d-flex" role="presentation">
                <a data-mdb-pill-init class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
              </li>
              <li class="nav-item d-flex" role="presentation">
                <a data-mdb-pill-init class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Company Info</a>
              </li>
              <li class="nav-item d-flex" role="presentation">
                <a data-mdb-pill-init class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Product Description</a>
              </li>
            </ul>
            <!-- Pills navs -->
  
            <!-- Pills content -->
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <table class="table border mt-3 mb-2">
                  <tr>
                    <th class="py-2">Product Name : </th>
                    <td class="py-2">{{product.product_name}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Product Weight : </th>
                    <td class="py-2">{{product.product_weight}} g</td>
                  </tr>
                  <tr>
                    <th class="py-2">Product Made In : </th>
                    <td class="py-2">{{product.product_madein}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Product Category Name : </th>
                    <td class="py-2">{{product.subcategory.category.category_name}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Product Sub Category Name : </th>
                    <td class="py-2">{{product.subcategory.subcategory_name}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Product Expirydate : </th>
                    <td class="py-2">{{product.product_expirydate}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Customer Care No : </th>
                    <td class="py-2">18008918911</td>
                  </tr>
                </table>
              </div>

              <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <table class="table border mt-3 mb-2">
                  <tr>
                    <th class="py-2">Company Name : </th>
                    <td class="py-2">{{product.company.company_name}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Company Owner Name : </th>
                    <td class="py-2">{{product.company.company_owner_name}} </td>
                  </tr>
                  <tr>
                    <th class="py-2">Company Owner Email : </th>
                    <td class="py-2">{{product.company.company_owner_email}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Company Owner Phone : </th>
                    <td class="py-2">{{product.company.company_owner_phone}}</td>
                  </tr>
                  <tr>
                    <th class="py-2">Company Address : </th>
                    <td class="py-2">{{product.company.company_address}}</td>
                  </tr>
                </table>
              </div>

              <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                {% if product.product_description != "" %}
                  <h5>Product Description</h5>
                  {{product.product_description|linebreaks}}
                {% endif %}
                {% if product.product_advantage != "" %}
                  <h5>Product Advantage</h5>
                  {{product.product_advantage|linebreaks}}
                {% endif %}
                {% if product.product_disadvantage != "" %}
                  <h5>Product Disadvantage</h5>
                  {{product.product_disadvantage|linebreaks}}
                {% endif %}
              </div>
            </div>
            <!-- Pills content -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Similar items</h5>
                <hr>
                {% for i in similar_product|slice:"0:3" %}
                  <div class="d-flex">
                    <a href="{% url 'product_detail' i.product_id %}" class="me-3">
                      <img src="/{{i.product_img}}" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                    </a>
                    <div class="info">
                      <a href="{% url 'product_detail' i.product_id %}" class="nav-link mb-1">{{i.product_name}}</a>
                      <strong class="text-dark"> ₹ {{i.product_discount_price}}</strong>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock  %}